<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
	<pattern id="observer1" name="Observer Pattern" config-file="D:\Code\IdeaProjects\DesignPatterns\files\abs-observer-pattern.xml" include="true" />
	<pattern id="strategy1" name="Strategy Pattern" config-file="D:\Code\IdeaProjects\DesignPatterns\files\strategy-pattern.xml" include="false" />
	<pattern id="template1" name="Template Method Pattern" config-file="D:\Code\IdeaProjects\DesignPatterns\files\template-method-pattern.xml" include="true" />
</config>